SERVER_PORT=8080

DEV_DB_URL=jdbc:postgresql://localhost:5432/esoft_dev
DEV_DB_USERNAME=postgres
DEV_DB_PASSWORD=postgres

PROD_DB_URL=jdbc:postgresql://localhost:5432/esoft_prod
PROD_DB_USERNAME=change-me
PROD_DB_PASSWORD=change-me

REDIS_HOST=localhost
REDIS_PORT=6379

GOOGLE_CLIENT_ID=change-me
GOOGLE_CLIENT_SECRET=change-me
GITHUB_CLIENT_ID=change-me
GITHUB_CLIENT_SECRET=change-me
